<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeria de Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row> <!--recorrido-->
      <ion-col size="6" *ngFor="let foto of fotoService.fotos" ; index as position>
        <ion-img [src]="foto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- boton que nos permitirá activar la cámara-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <!--boton centrado sobre cualquier elemento de la pantalla-->
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon> <!--nombre icono-->
    </ion-fab-button>
  </ion-fab>

</ion-content>